# The Blue Alliance API Key
# Get your key at: https://www.thebluealliance.com/account
VITE_TBA_API_KEY=WcSqE6AAs42oBTICnCd2XEMjm3ttZ5BoNLeKO8NNJ5ICvjZv6TsSJvawcpLNVEWx	

# Nexus Stats API Key
# Get your key at: https://frc.nexus/
VITE_NEXUS_API_KEY=Q7XAyP_kez_zJ4S2n1GNmIjYZP0
